body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: unset;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: forestgreen;
}
a::after {
  content: "";
  height: 1px;
  width: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transition: all 0.3s ease-in-out;
  background-color: forestgreen;
}
a:hover::after {
  width: 100%;
}
